.site-search__elements-container {
  display: flex;
  position: absolute;
  top: 13px;
  right: calc(5% + 4px);
  overflow: hidden;
  height: 35px;
}

.site-search__input {
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  border-right: none;
  flex: 1;
  padding: 5px 15px 3px 15px;
  box-sizing: border-box;
  cursor: text;
  text-align: left;
  -webkit-appearance: none;
  margin: 0;
  outline: 0;
  font-size: 0.9rem;
  min-width: 220px;
}

.site-search__button {
  padding: 10px 15px;
  border-radius: 0 6px 6px 0;
  background: #0067b3;
  color: #fff;
  border: none;
  outline: 0;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 0.9rem;

  &:hover {
    background: #053b5e;
  }
}
